/*
    In no way an actual css design,
    just wanted to make sure it worked properly
 */
header{
    color: darkorange;
    text-align: center;
}

body{
    background-color: slategray;
    width: 80%;
    margin: auto;
}


#LoginSignUp{
    background-color: darkorange;
    float: right;
    width: 100%;
    border-bottom: .2em solid navy;
}

#LoginSignUp a{
    text-decoration: none;
    display: inline-block;
    float: right;
    padding: .75em;
    font-size: 1.25em;
    font-weight: bold;
    color: navy;
}

#LoginSignUp a:hover{
    background-color: navy;
    color: darkorange;
    transition: 500ms;
}

#LoginSignUp a href{
    text-decoration: none;
}

main{
    padding: 4em 2em 2em;
    background-color: #afafaf;

}

h2{
    color: navy;
}