/*
    In no way an actual css design,
    just wanted to make sure it worked properly
 */
header{
    color: orange;
}

body{
    background-color: dimgray;
}

#LoginSignUp{
    background-color: black;
    float: right;
    width: 100%;
}

#LoginSignUp a{
    text-decoration: none;
    display: inline-block;
    float: right;
    padding: 1em;
    font-size: large;
    background-color: white;
}

#LoginSignUp a href{
    text-decoration: none;
}

main{
    background-color: darkgray;

}