/*
    In no way an actual css design,
    just wanted to make sure it worked properly
 */
:root{
    --gray: #afafaf;
    --creme: #f5f5f5;
    --gray2: #cccccc;
    --gray3: #dddddd;
}
body{
    background-color: slategray;
    width: 80%;
    margin: auto ;
}

header{
    color: darkorange;
    background-color: navy;
    display: inline-block;
    border-bottom: .2em solid darkorange;
    width: 100%;
}

header h1{
    float: left;
    padding-left: 1em;
}

.navbar {
    min-height: 60px;
}

#LoginSignUp{
    float: right;
}

#LoginSignUp a{
    text-decoration: none;
    float: right;
    padding: .75em;
    margin: .5em .25em 0em .25em;
    font-size: 1.25em;
    font-weight: bold;
}
#login{
    border: .1em solid darkorange;
    background-color: darkorange;
    color: navy;
    border-radius: 1em;
}
#signup{
    color: darkorange;
}

#login:hover{
    background-color: orange;
    color: navy;
    transition: 500ms;
}

#signup:hover{
    color: orange;
}

main{
    padding: 1em 3em 2em 3em;
    background-color: var(--gray);
    margin: 0;
    min-height: calc(100vh - 120px);
    height: 100%;
}

h2{
    color: navy;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  background-color: var(--creme);
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding-top: 60px; /* Remove padding */
  margin: 0; /* Remove margins */
}

.list-group {
  max-width: 300px;
  margin: auto;
}

.center-text {
  text-align: center;
}

.btn-dark {
    background-color: darkorange;
    border-color: black;
    color: navy;
}

.btn-dark:hover, .btn-dark:focus, .btn-signup:hover, .btn-signup:focus,
.btn-signup:active {
    background-color: orange;
    border-color: black;
    color: navy;
}

.btn-light {
    background-color: var(--gray2);
    border-color: white;
    color: navy;
}

.btn-light:hover, .btn-light:focus {
    background-color: var(--gray3);
    border-color: white;
    color: navy;
}

.cancel-btn {
    margin-left: 20px;
}

#signup-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.btn-signup {
    background-color: darkorange;
    border-color: black;
    color: navy;
    border-radius: 1em;
    text-align: left;
    margin: 20px;
}

#login-display {
    background-color: var(--gray);
    padding: 20px;
    height: 275px;
    max-width: 400px;
    border-radius: 1em;
    position: relative;
    top: calc(50vh - 150px);
}

#register-display {
    background-color: var(--gray);
    padding: 20px;
    height: 435px;
    max-width: 400px;
    border-radius: 1em;
    position: relative;
    top: calc(50vh - 218px);
}

#login-btn, #register-btn {
    border-color: darkorange;
}

.list-group-item {
    border-radius: 0em;
}

#login-list-group {
    max-width: 300px;
    padding: 20px;
}

#register-list-group {
    max-width: 300px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.larger-login {
    min-height: 325px;
}

.larger-register {
    min-height: 470px;
}

.form-control, .form-select, .form-check-input, .search-btn {
    margin: 5px;
}

.change-password-field, .edit-profile-field, .search-bar {
    max-width: 300px;
}

.search-btn {
    max-width: 75px;
}

.search-list-item:before {
    content: "\1F3C0";
    padding-right: 5px;
}

.search-row {
    margin-left: -5px;
}

#MessagesLeft{
    float:left;
    width: 30%;
}

#MessagesLeft a{
    text-decoration: none;
}

#MessagesLeft .list-group-item{
    text-align: center;
    width: 80%;

}

.list-group-item{
    background-color: grey;
    color: navy;
}

.list-group-item.new-msg{
    background-color: darkorange;
    color: navy;
}

#MessagesRight{
    float: right;
    width: 70%;
}

#MessagesRight .center-text{
    color: navy;
    font-weight: bold;
}

#Message-scroll-box{
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    height: calc(80vh - 120px);
}


.Message-line{
    width: 90%;
    display: inline-block;
}

.Message-received{
    float: left;
    max-width: 60%;
}

.Message-received p{
    background-color: darkorange;
    color: navy;
    border: darkorange solid .5em;
    border-radius: 1em;
    text-align: center;
    padding: 0 2px 0 8px;
}

.Message-sent{
    float: right;
    max-width: 60%;
}

.Message-sent p{
    background-color: grey;
    color: navy;
    border: grey solid .5em;
    border-radius: 1em;
    text-align: center;
    padding: 0 8px 0 2px;
}

#message_form{
    position: relative;
    bottom: 0;
    height: 75px;
}

#userMessage{
    width: 70%;
    height: 75px;
    resize: none;
}

.send-btn{
    width: 20%;
    height: 75px;
    background-color: darkorange;
    vertical-align: top;
    font-size: 1.2em;

}


/* Any changes for mobile go here */
@media only screen and (max-width: 500px) {
    body{
        width: 100%;
    }

    #MessagesLeft{
        float: none;
        width: 100%;
        margin: auto;
    }

    #MessagesRight{
        float: none;
        width: 100%;
        margin: auto;
    }
}