<!doctype html>
<html lang="en">

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PickUpGames - Home</title>
</head>

<body>

<header>
    <h1>Welcome to PickUpGames!</h1>
</header>

<nav>
    <!-- Working on unified Nav bar, wont need anything here -->
</nav>

<main>
    <p>
        This is a new way for you to find people, friends and strangers,
        to play pick up basketball with locally!<br>
        <br>
        Just sign up or Log in to play with people of all skill level locally!<br>
        Well, not yet but when we have it implemented!!!
    </p>
</main>

<footer>
    <!-- Working on unified footer, wont need anything here -->
</footer>
</body>
</html>