{% extends 'pickup/base.html' %}

{% block title %}
Change Password
{% endblock %}

{% block content %}

<h1>Pickup Games: Change Password</h1>

{% if error %}<p id="error">{{ error }}</p> {% endif %}

<p>Please complete the following fields:</p>

<form action="{% url 'change_password' %}" method="post">
    {% csrf_token %}
    <p>Old Password: <input type="password" id="old_password"
        name="old_password" />
    </p>
    <p>New Password: <input type="password" id="new_password"
        name="new_password" />
    </p>
    <p>Confirm New Password: <input type="password" id="confirm_password"
        name="confirm_password" /></p>

    <p>
        <input type="submit" value="Update" />
        <a href="{% url 'view_profile' %}">Cancel</a>
    </p>
</form>

{% endblock %}