<!DOCTYPE html>
<html>
<head>
    <title>Pickup Games | Edit Profile</title>
</head>
<body>

    <h1>Pickup Games</h1>
    <h2>Your Profile: {{ username }}</h2>

    <p>Enter your profile information here. No fields are required. Please note
        that this information will be visible to other players.</p>

    {% if error %}<p id="error">{{ error }}</p> {% endif %}

    <form action="{% url 'edit_profile' %}" method="post" id="profile_form">
        {% csrf_token %}

        <p>First name: <input type="text" id="first_name" name="first_name"
            value = "{{ first_name }}" /></p>

        <p>Last name: <input type="text" id="last_name" name="last_name"
            value = "{{ last_name }}" />
        </p>

        <p>Date of birth: <input type="date" id="date_of_birth"
            name="date_of_birth" value = "{{ date_of_birth }}" /></p>

        <p>Gender:
            <select form="profile_form" name="gender"
                    id="gender">
                {% for value, text in genders %}
                    <option value="{{ value }}"
                    {% ifequal value gender %}
                        selected
                    {% endifequal %}
                    >{{ text }}</option>
                {% endfor %}
            </select>
        </p>

        <p>Height: <input type="number" id="height" name="height"
            value = "{{ height }}" /> in</p>

        <p>Weight: <input type="number" id="weight" name="weight"
            value = "{{ weight }}" /> lbs</p>

        <p>Make profile public: <input type="checkbox" id="is_public"
            name="is_public" {% if is_public %} checked {% endif %} /></p>

        <input type="submit" value="Save" />
    </form>
</body>
</html>
