{% extends 'pickup/base.html' %}

{% block title %}
Favorite Park
{% endblock %}

{% block content %}

<h1>Pickup Games: Favorite Park</h1>

{% if error %}<p id="error">{{ error }}</p> {% endif %}

{% if add %}
    <p>Add {{park.name}} to your favorites?</p>
{% else %}
    <p>Remove {{park.name}} from your favorites?</p>
{% endif %}


<form action="{% url 'favorite_park' add park.id %}" method="post">
    {% csrf_token %}
    <p>
    <input type="submit" value="Confirm" class="btn btn-dark col search-btn"/>
    <a href="{% url 'parks' %}" class="btn btn-light cancel-btn">Cancel</a>
    </p>
</form>

{% endblock %}