{% extends 'pickup/base.html' %}

{% block title %}
Join Event
{% endblock %}

{% block content %}

<h1>Join Event</h1>

{% if error %}<p id="error">{{ error }}</p> {% endif %}

<p>Event name: {{event.name}}</p>
<p>Event date: {{event.date}}</p>
<p>Event time: {{event.get_time_display}}</p>
{% if players %}
Current players:
    {% for player in players %}
    <p>{{player.first_name}} {{player.last_name}}</p>
    {% endfor %}

{% else %}
    <p>There are currently no players for this event.</p>
{% endif %}

{% if add %}
    <p>Join this match?</p>
{% else %}
    <p>Leave this match?</p>
{% endif %}


<form action="{% url 'join_event' park.id add event.id %}" method="post">
    {% csrf_token %}
    <p>
    <input type="submit" value="Confirm" class="btn btn-dark"/>
    <a href="javascript:history.back()" class="btn btn-light cancel-btn">Cancel</a>
    </p>
</form>

{% endblock %}