<!DOCTYPE html>
<html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'pickup/style.css' %}">
<head>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'pickup/PickUpGamesTabImg.ico' %}" />
    <title>Pickup Games | Login</title>
</head>
<body>

    <h1>Pickup Games: Login</h1>

    {% if form.errors %}
        <p id="error">Error: Invalid login credentials.</p>
    {% endif %}

    <p>Please enter your user name and password:</p>

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <p>User name: <input type="text" id="username" name="username"
                             value = "{{ username }}" /></p>
        <p>Password: <input type="password" id="password" name="password" /></p>
        <input type="submit" value="Login" />
    </form>

    <p>Need an account? <a href="{% url 'register' %}">Register here</a>.</p>
</body>
</html>