{% extends 'pickup/base.html' %}

{% block content %}

    <div id="MessagesLeft">
        <form action="{% url 'new_message' %}" method="get" id="send_message_form">
            <button type="submit" name="newMsgBtn">New Message</button>
        </form>
    <ul>
            {% for people in conversations %}
                <li>
                <a href="{% url 'messages_conversation' people.username %}">
                    {{people}}
                </a>
                </li>
            {% empty %}
                <li>No Messages</li>
            {% endfor %}
    </ul>
    </div>

    <div id="MessagesRight">
    {% for message in messages %}
    <p>
        Sent by: {{ message.sender }} <br>
        Message: {{ message.message }}
    </p>
    {% endfor %}
    </div>

{% endblock %}