{% extends 'pickup/base.html' %}

{% block content %}

<form action="{% url 'new_message' %}" method="get" id="search_form">
    <p>
        <input type="search" id="search_bar" name="search_text"
            value="{{ search_input }}" placeholder="Search for Player">
        <input type="submit" value="Search">
    </p>
</form>
{% if players %}
        <p>Select user to message:</p>
    <ul>
        {% for player in players %}
            <li>
                {{ player.username }}
            </li>
            <br>
        {% endfor %}
    </ul>
{% endif %}

    {% if form.errors %}
            <p>
                Error: Username not found
            </p>
    {% endif %}

<form action="{% url 'new_message' %}" method="post" id="new_message_form">
    {% csrf_token %}
    <input  type="text" id="receiver" name="receiver" placeholder="Player's Username" required>
    <input type="text" id="userMessage" maxlength="1000" placeholder="Message" name="userMessage" required>
    <input type="submit" value="Send">
</form>

{% endblock %}