{% extends 'pickup/base.html' %}

{% block content %}
<h1>Search for New Message</h1>
<form action="{% url 'new_message' %}" method="get" id="search_form">
    <p class="row search-row">
        <input type="search" id="search_bar" name="search_text"
            value="{{ search_input }}" class="form-control search-bar col" placeholder="Player's Username">
        <input type="submit" value="Search" class="btn btn-dark search-btn">
    </p>
</form>
{% if players %}
        <p>Select user to message:</p>
    <ul class="list-unstyled">
        {% for player in players %}
            <li class="search-list-item">
                <a href="{% url 'messages_conversation' player.username %}">
                    {{player}}
                </a>
            </li>
            <br>
        {% endfor %}
    </ul>
{% endif %}

    {% if form.errors %}
            <p>
                Error: Username not found
            </p>
    {% endif %}
{% endblock %}