{% extends 'pickup/base.html' %}

{% block title %}
    New Match
{% endblock %}

{% block content %}

    <h1> Schedule at {{ park.name }} </h1>


    <p>Schedule New Match:</p>
    <form action="{% url 'event_signup' park.id %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" class="btn btn-dark">
    </form>



    {% if mymatches %}
        <p>My Matches:</p>
        <table style="width:100%" class="table">
            <thead>
            <tr>
                <th style="width:25px">Name</th>
                <th style="width:25px">Date</th>
                <th style="width:25px">Time</th>
                <th style="width:25px">Leave</th>
            </tr>
            </thead>
            {% for match in mymatches %}
                <tr>
                    <td> {{ match.name }}</td>
                    <td> {{ match.date }}</td>
                    <td> {{ match.get_time_display }}</td>
                    <td><a href="/parks/{{ park.id }}/0/{{ match.id }}/">Leave</a></td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}


    {% if othermatches %}
        <p>Other Matches:</p>
        <table style="width:100%" class="table">
            <thead>
            <tr>
                <th style="width:25px">Name</th>
                <th style="width:25px">Date</th>
                <th style="width:25px">Time</th>
                <th style="width:25px">Join</th>
            </tr>
            </thead>
            {% for match in othermatches %}
                <tr>
                    <td> {{ match.name }}</td>
                    <td> {{ match.date }}</td>
                    <td> {{ match.get_time_display }}</td>
                    <td><a href="/parks/{{ park.id }}/1/{{ match.id }}/">Join</a></td>
                </tr>
            {% endfor %}
        </table>


    {% endif %}
{% endblock %}
