{% extends 'pickup/base.html' %}

{% block title %}
Search Players
{% endblock %}

{% block content %}

<h1>Search Players</h1>

<p>Enter a player's user name to search for their profile.</p>

<form action="{% url 'search_players' %}" method="get" id="search_form">
    <p class="row search-row">
        <input type="search" id="search_bar" name="search_text"
            value="{{ search_input }}" class="form-control search-bar col" />
        <input type="submit" value="Search"
            class="btn btn-dark col search-btn" />
    </p>
</form>

{% if players %}
    <p>Search results:</p>
    <ul class="list-unstyled">
        {% for player in players %}
            <li class="search-list-item">
                {% if player.is_public or player.username == user.username %}
                    <a href="{% url 'view_player' player.username %}">
                {% endif %}
                {{ player.username }}
                {% if player.is_public %}
                    </a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% elif no_results %}
    <p>No results found.</p>
{% endif %}

{% endblock %}
